<nav class="navbar navbar-expand-sm fixed-top bg-light navbar-light">
    <div class="container">
        <i class=" navbar-brand text-dark fas fa-hand-lizard mousePointer"></i>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#NCollapse">
            <i class="fas fa-crosshairs"></i>
        </button>
        <div id="NCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav font-weight-bold">
                <li class="active"><a class="nav-link text-dark" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#news">News</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#reviews">Reviews</a></li>
                <li class="nav-item"><a class="nav-link text-dark" data-toggle="modal" data-target="#modall"
                        href="#wikis">Wikis</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">More</a>
                    <div class="dropdown-menu bg-light">
                        <a class="dropdown-item text-dark" href="#more">Forum</a>
                        <a class="dropdown-item text-dark" href="#more">Best Of</a>
                        <a class="dropdown-item text-dark" href="#more">E-spor</a>
                        <a class="dropdown-item text-dark" href="/click">Clicker</a>
                    </div>
                </li>
            </ul>
        </div>
        <a class="text-dark" href="login">
            <i class="fas fa-fingerprint"></i>
        </a>
    </div>
</nav>