<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="Tiss.css"/> 
  <link rel="icon" type="image/x-icon" href="Photo/dudtled.png">

  <title>Dolliet</title>

</head>
<body data-spy="scroll" data-target=".navbar" onload="startTime()">

  <%- include('partials/navbar') %>

  <div class="stickybuttons mousePointer">
      <img src="Photo/help.png" width="75px;" height="75px;">
    <span id="hcx" class="close" style="font-size: 1rem;">X</span>
  </div>

  <header id="home"  class="mb-5">
    <div class="col-md-11 mx-auto">
      <div id="slider" class="carousel slide mt-5 pt-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
          <li data-target="#slider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 rounded" src="Photo/rdr2.png">
            <div class="carousel-caption">
              <h2 class="text-left">Start the New Year Off with Bonuses on A Land of Opportunities Missions, Call to Arms, Gang Hideouts, and the Featured Series</h2>
              <p class="text-left pl-2">Plus a Month's Worth of Persistent Posse Rewards in Red Dead Online <a href="#" style="text-decoration: none;" class="text-light font-weight-bold">More...</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded d-block mx-auto" src="Photo/division2.jpg">
            <div class="carousel-caption">
              <h2 class="text-left">Get The Division 2 For 95% Off As Major Expansion Announced</h2>
              <p class="text-left pl-2">On March 3, Division 2 Agents will enter the new open world of Lower Manhattan in the Warlords of New York expansion <a href="#" style="text-decoration: none;" class="text-light font-weight-bold">More...</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded" src="Photo/bf.png">
            <div class="carousel-caption">
              <h2 class="text-left">EA Teases Next Battlefield Game</h2>
              <p class="text-left pl-2">Electronic Arts is starting to officially talk about the next major release in Battlefield, the popular online multiplayer shooter franchise <a href="#" style="text-decoration: none;" class="text-light font-weight-bold">More...</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded" src="Photo/rockstar.jpg">
            <div class="carousel-caption">
              <h2 class="text-left">GTA 6 Map Leaks: Everything Confirmed & Debunked (So Far)</h2>
              <p class="text-left pl-2">There have been a ton of rumors about GTA 6 map leaks and where the next game will take place, but players shouldn’t believe everything they hear <a href="#" style="text-decoration: none;" class="text-light font-weight-bold">More...</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded" src="Photo/dolliet.png">
            <div class="carousel-caption">
              <h2 class="text-left">Maybe Unwillingly You Came Here<br>But You Will Love This Page</h2>
              <p class="text-left pl-2">This page about game information,news,reviews,wikis and <a href="#" style="text-decoration: none;" class="text-light font-weight-bold">More...</a></p>
            </div>
          </div>
        </div>
        <a href="#slider" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#slider" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </header>
                  <!-- MODAL -->
	<div class="modal fade" id="modall">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Radiation Risk <i class="fas fa-biohazard"></i></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body font-weight-bold">
					Radiation spread to this tab as a result of a minor accident. <br> We are working on it, we will clean it very soon
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dismiss="modal">Run <i class="fas fa-running"></i></button>
				</div>
			</div>
		</div>
	</div>
                  <!-- MODAL END  -->

  <main id="news">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div id="crd1" class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube-nocookie.com/embed/x_03JQUc9Ao" frameborder="0" allowfullscreen></iframe>
            </div>
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">Fable Official Trailer | Xbox Games Showcase 2023</a></h5>
                <p class="d-inline card-text">Fable is finally back! After years away, one of Xbox's biggest Ips has returned. We see " Dave Vegetable Enthusiast" discussing the age of heroes is over, the age of innovation is here. Who, of course, turns out to be a giant.</p>
                <br>
                <div class="d-inline cardfooter text-muted">Posted On <span>Jun 11, 2023</span></div>
              </div>
          </div>
          <br>
          <div id="crd2" class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube-nocookie.com/embed/wq8O1eUzbtA" frameborder="0" allowfullscreen></iframe>
            </div>
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">PlayStation Plus Extra - August 2023 (PS+)</a></h5>
                <p class="d-inline card-text">This month’s PlayStation Plus Extra line-up dropping on Tuesday August 15th, *August 28th and **August 29th.</p>
                <br>
                <div class="d-inline cardfooter text-muted">Posted On <span>Aug 9, 2023</span></div>
              </div>
          </div>
          <br>
          <div id="crd3" class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube-nocookie.com/embed/OxNV4zqObcc" frameborder="0" allowfullscreen></iframe>
            </div>
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">Xbox REVEALED All-New Games for Xbox Series X & S Console Generation</a></h5>
                <p class="d-inline card-text">Xbox has been slow to release major AAA first party exclusives, but Studios are working on some of the biggest games of the Generation and the brightest games in Xbox history. There is an insane impressive roadmap of games coming to Xbox this Gen. Xbox Game Studios is now in full development mode with major AAA games and the wait has never been longer for fans, especially over the past year.</p>
                <br>
                <div class="d-inline cardfooter text-muted">Posted On <span>Aug 14, 2023</span></div>
              </div>
          </div>
          <br>
          <div id="crd4" class="card">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vN-aE2pQzwM" frameborder="0" allowfullscreen></iframe>
            </div>
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">Board Game News: So Many Games Still To Come This Year - Too Much Warhammer? - And More!</a></h5>
                <p class="d-inline card-text">Rapid fire News and Updates from around the crowdfunding and retail board game space.  Kickstarter, Backerkit, and Gamefound updates for Studium No Exit, Witchcraft!, Stalker, Phantom Epoch, Firefly, Scarface 1920 Bloody Business, Tanares Ultimate Edition, Planet Unknown Deluxe Edition, and more!</p>
                <br>
                <div class="d-inline cardfooter text-muted">Posted On <span>Jun 27, 2023</span></div>
              </div>
          </div>

        <div class="mt-4" style="text-align: center;">
          <button class="button-30" role="button" value="1">1</button>
          <button class="button-30" role="button" value="2">2</button>
          <button class="button-30" role="button" value="3">3</button>
          <button class="button-30" role="button" value="4">4</button>
          <button class="button-30" style="pointer-events: none; opacity: .4;" role="button">...</button>
          <button class="button-30" role="button">?</button>
        </div>
        
        </div>

        <div class="col-md-5">
          <div class="btn-primary py-2 disabled">
            <h4 class="text-center">Search <i class="fas fa-gamepad"></i> <b>/</b> Clock <i class="fas fa-clock"></i></h4>
          </div>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Dolliet">
              <span class="input-group-btn">
                <button type="button" class="btn btn-secondary">
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <!-- Clock -->
          <div class="clck">
          <h4 id="clock" style="margin-bottom: 0px;"></h4><i class="fas fa-undo-alt clock chan mousePointer"></i>
          </div>
          <br>
          <div class="btn-success py-2 disabled">
            <h4 class="text-center text-weight-bold">Platforms <i class="fas fa-charging-station"></i></h4>
          </div>
          <div class="card-body bg-bt mr-4 ml-4" style="font-size: 1.5rem;text-align: center; border-radius: 0rem 0rem 1rem 1rem;">
            <i class="fa-brands fa-steam mousePointer mr-2" style="color: #1e3151;"></i>
            <i class="fa-brands fa-xbox mousePointer mr-2" style="color: #0f7c10;"></i>
            <i class="fa-brands fa-playstation mousePointer mr-2"></i>
            <i class="fa-brands fa-twitch mousePointer mr-2" style="color: #362550;"></i>
            <i class="fa-brands fa-youtube mousePointer mr-2" style="color: #ff0000;"></i>
            <i class="fa-brands fa-instagram mousePointer mr-2" style="color: #ffb908;"></i>
            <i class="fa-brands fa-facebook mousePointer mr-2" style="color: #3a5896;"></i>
            <i class="fa-brands fa-discord mousePointer mr-2" style="color: #5f70be;"></i>
            <i class="fa-brands fa-twitter mousePointer" style="color: #00bbf4;"></i>
          </div>
          <br>
          <div class="btn-default purple text-light py-2 disabled">
            <h4 class="text-center">Game Calendar <i class="fas fa-calendar-alt"></i></h4>
          </div>
          <div class="row mt-3">
      			<div class="col-12"><a href="gamecalendar"><img src="Photo/gcalendar.png" class="img-thumbnail" style="background: none;border: 0px;" alt=""></a></div>
      			<div class="col-12"><a href="gamecalendar" style="text-decoration: none;"><h5 class="text-center yazi font-weight-bold">Games Release Dates Full List</h5></a>
            <br>
            <h4 class="text-center text-dark font-weight-bold mybb mousePointer"><i class="fas fa-grip-lines-vertical text-danger mybb"></i> Top Upcoming Games</h4>
              <div class="bg-bt py-2 mt-4 disabled games3">
                <h4 class="text-center text-white font-weight-bold">Payday 3<i id="exit1" class="fas fa-times card-title mousePointer" style="float:right; margin-right:0.5rem;"></i></h4>
                <p class="text-muted ml-4" style="margin: 0;"><span class="text-info">Release date: </span>September 21, 2023</p>
                <p class="text-muted ml-4"><span class="text-info">Platform(s): </span>PS5, PS4, Xbox Series X, Xbox One, PC</p>
              </div>
              <div class="bg-bt py-2 mt-1 disabled games1">
                <h4 class="text-center text-white font-weight-bold">Assassin's Creed Mirage<i id="exit1" class="fas fa-times card-title mousePointer" style="float:right; margin-right:0.5rem;"></i></h4>
                <p class="text-muted ml-4" style="margin: 0;"><span class="text-info">Release date: </span>October 12, 2023</p>
                <p class="text-muted ml-4"><span class="text-info">Platform(s): </span>PS4, PS5, Xbox One, Xbox Series X/S</p>
              </div>
              <div class="bg-bt py-2 mt-1 disabled games2">
                <h4 class="text-center text-white font-weight-bold"">Marvel's Spider-Man 2<i id="exit1" class="fas fa-times card-title mousePointer" style="float:right; margin-right:0.5rem;"></i></h4>
                <p class="text-muted ml-4" style="margin: 0;"><span class="text-info">Release date: </span>October 20, 2023</p>
                <p class="text-muted ml-4"><span class="text-info">Platform(s): </span>PS5</p>
              </div>
      				</div>
            </div>
          <br>
          <div class="btn-danger py-2 disabled">
            <h4 class="text-center">News <i class="fas fa-newspaper"></i></h4>
          </div>
          <div class="row mt-3">
      			<div class="col-5 "><img src="Photo/hades.jpg" class="img-thumbnail" alt=""></div>
      			<div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Hades Player Completes Challenge Thought To Be Impossible</a>
      				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/pokemon.jpg" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Pokémon Go Fest 2023: Dates, times & details for London event</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/mrbeast.png" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Mr. Beast Responds To Criticism About Promoting TMNT During The Actors' Strike</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/ac.jpg" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Assassin's Creed Jade Gameplay Revealed</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/rmnt.jpg" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Remnant 2 Players Voice Concerns About the Game’s Difficulty Scaling</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/meganfoxdiablo.png" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Blizzard's paying Megan Fox to eulogise Diablo 4 deaths in a corset</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/ffpxel.png" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Final Fantasy 14 Dev Wants to Add the Pixel Remaster Games to the Gold Saucer</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/owervatc.png" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">An Overwatch 2 and Team Fortress 2 Collaboration is Happening, But Not in The Way You'd Expect</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/payday.jpg" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Payday 3 Will Utilize Controversial Anti-Tamper Technology</a>
    				</div>
            </div>
            <div class="row mt-3">
              <div class="col-5 "><img src="Photo/xbox.jpg" class="img-thumbnail" alt=""></div>
              <div class="col-7 "><a style="text-decoration:none;" class="yazi font-weight-bold" href="#">Control Developer Explains Why Xbox Series S Is a Problem for Devs</a>
    				</div>
            </div>
          </div>

        </div>
      </div>
    </div>

                            <!-- 3.News Bar -->

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mt-3">
            <img src="Photo/e320.jpg" style="border: 0px;" class="img-thumbnail" alt="">
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">E3 2023: video game industry’s biggest expo cancelled</a></h5>
                <p class="d-inline card-text">E3, the video game industry’s biggest annual expo, has been cancelled. The show had been due to make a return after years of Covid-19 disruption this June in Los Angeles, but in a joint statement, the US’s Entertainment Software Association (ESA) and events company Reedpop announced it would no longer be going ahead.</p>
                <div class="d-inline cardfooter text-muted">Posted on <span class="text-success">Mar 30, 2023</span></div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-3">
              <img src="Photo/bg3.gif" style="border: 0px;" class="img-thumbnail" alt="">
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">Baldur’s Gate 3 reactivates PS5 cross-saves</a></h5>
                <p class="d-inline card-text">On Thursday, with yet another hotfix, Larian Studios blew the doors off the hinges for what a developer can do with a game with one simple sentence: “As of today, we’re also reactivating cross-saves as we near our PlayStation 5 launch.” (Cross-saves were deactivated earlier this month after the feature was apparently responsible for some players experiencing bugs with the PC launch.)</p>
                <div class="d-inline cardfooter text-muted">Posted on <span class="text-success">11 Aug, 2023</span></div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-3">
            <img src="Photo/stadia.jpg" style="border: 0px;" class="img-thumbnail" alt="">
              <div class="card-body">
                <h5 class="card-title"><a style="text-decoration: none;" href="#">Gamers say goodbye to Google's Stadia as platform shuts</a></h5>
                <p class="d-inline card-text">Google will shut down its Stadia cloud gaming service in the UK on Thursday, as it pays players back. Stadia was touted as "Netflix for games" when it launched in November 2019, allowing gamers to stream games online without a computer or console. The service will be unavailable in the UK after 08:00 on Jan. 19, with players telling BBC News "heartbroken" to see the service end.</p>
                <div class="d-inline cardfooter text-muted">Posted on <span class="text-success">Jan 18, 2023</span></div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="pageH mt-4"><i class="fa-solid fa-caret-up fa-rotate-270" style="font-size: 2rem;"></i><span class="text-danger">Shorts</span><i class="fa-solid fa-caret-up fa-rotate-90" style="font-size: 2rem;"></i></h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card mt-3">
            <iframe height="400" src="https://www.youtube-nocookie.com/embed/iA1WQ_uShwM" style="border: none;"></iframe>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="card">
            <iframe height="400" src="https://www.youtube-nocookie.com/embed/vGy4eDfqxus" style="border: none;"></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mt-3">
            <iframe height="400" src="https://www.youtube-nocookie.com/embed/NbptzPTMRac" style="border: none;"></iframe>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mt-3">
            <iframe height="400" src="https://www.youtube-nocookie.com/embed/cdxLpiRqRNw" style="border: none;"></iframe>
          </div>
        </div>
      </div>
    </div>  
                          <!-- News End -->
                          <!-- Reviews   -->

<reviews id="reviews">

  <h1 class="pageH mt-5"><i class="fa-solid fa-signal fa-flip-horizontal"></i> <span class="text-warning">Reviews</span> <i class="fa-solid fa-signal"></i></h1>
  <div style="text-align: center;">
    <i class="fa-solid fa-star fa-beat-fade text-warning"></i>
    <i class="fa-solid fa-star fa-beat-fade text-warning"></i>
    <i class="fa-solid fa-star fa-beat-fade text-warning"></i>
    <i class="fa-solid fa-star fa-beat-fade text-warning"></i>
    <i class="fa-solid fa-star fa-beat-fade"></i>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 mt-4">
        <a href="reviews1" class="text-warning" style="text-decoration:none;">
          <img src="Photo/witcher.jpg" alt="Lights" style="width:100%" height="80%">
          <div class="card-img-overlay" style="padding-top: 0.75rem;"><p class="card-title text-warning ml-2">93/100 <i class="fas fa-trophy"></i></p></div>
          <div class="caption">
            <h5 style="text-align:center" class="card-text font-weight-bold mt-auto bg-t">The Witcher® 3: Wild Hunt Review And Analysis</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mt-4">
        <a href="reviews2"class="text-warning" style="text-decoration:none;">
          <img src="Photo/wd2.jpg" alt="Lights" height="80%" style="width:100%">
          <div class="card-img-overlay" style="padding-top: 0.75rem;"><p class="card-title text-warning ml-2">83/100 <i class="fas fa-trophy"></i></p></div>
          <div class="caption">
            <h5 style="text-align:center" class="card-text font-weight-bold mt-auto bg-t">Watch_Dogs® 2 Review And Analysis</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mt-4">
        <a href="reviews3"class="text-warning" style="text-decoration:none;">
          <img src="Photo/dl.jpg" alt="Lights" height="80%" style="width:100%">
          <div class="card-img-overlay" style="padding-top: 0.75rem;"><p class="card-title text-warning ml-2">90/100 <i class="fas fa-trophy"></i></p></div>
          <div class="caption">
            <h5 style="text-align:center" class="card-text font-weight-bold mt-auto bg-t">Dying Light Review And Analysis</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 mt-4">
        <a href="reviews4"class="text-warning" style="text-decoration:none;">
          <img src="Photo/ut.png" alt="Lights" height="80%" style="width:100%">
          <div class="card-img-overlay" style="padding-top: 0.75rem;"><p class="card-title text-warning ml-2">100/100 <i class="fas fa-trophy"></i></p></div>
          <div class="caption">
            <h5 style="text-align:center" class="card-text font-weight-bold mt-auto bg-t">Undertale Review And Analysis</h5>
          </div>
        </a>
      </div>
    </div>
  </div>

</reviews>

                          <!-- Reviews End  -->
                          
<footer id="more" class="py-4 mt-5 bg-bt text-white text-center" class="paged">

                          <!-- Collapse -->

  <div id="collapse" class="collapse">

    <div class="container">
      <div class="row">
        <div class="col-md-3 mt-3">
          <a class="navbar-brand text-white" href="#">Dolliet <i class="fas fa-hand-lizard"></i></a>
            <hr class="line mousePointer">
            <p class="text-left">Dolliet is a community of ​​​gamers​​​ posting the latest game news and Also adds Turkish subtitles to game trailers</p>
            <h5 class="text-left font-weight-bold text-white">Mode <i class="fas fa-toggle-off chan2 chnclc mousePointer"></i></h5>
            <div class="d-inline cardfooter text-muted">Website Create on 2/29/20 - 11.46</div><br>
            <div class="d-inline cardfooter text-muted">Website Finish on 3/8/20 - 7.38</div><br>
            <div class="d-inline cardfooter text-muted">Site Update Start on 7.29.23 - 12.11</div><br>
            <div class="d-inline cardfooter text-muted">Site Update Finish on 3/8/20 - 7.38</div><br>
        </div>
        <div class="col-md-3 mt-3">
          <a class="navbar-brand text-white" href="#">Top Games <i class="fas fa-dragon"></i></a>
            <hr class="line mousePointer">
            <p class="text-left"><a class="mr-2 btn btn-success btn-sm" href="#">97</a> Red Dead Redemption 2 </p>
            <p class="text-left"><a class="mr-2 btn btn-success btn-sm" href="#">96</a> Grand Theft Auto V</p>
            <p class="text-left"><a class="mr-2 btn btn-success btn-sm" href="#">93</a> The Last of Us Part II</p>
            <p class="text-left"><a class="mr-2 btn btn-success btn-sm" href="">86</a> Cyberpunk 2077</p>
            <p class="text-left"><a class="mr-2 btn btn-warning btn-sm" href="#">76</a> Watch Dogs: Legion</p>
            <div class="d-inline cardfooter text-muted">(Scoring taken from metacritic data)</div>
        </div>
        <div class="col-md-3 mt-3">
          <a class="navbar-brand text-white" href="#">Admins <i class="fas fa-users-cog"></i></a>
            <hr class="line mousePointer">
            <p class="text-left font-weight-bold text-white mousePointer opa">Tamer Akipek <i class="fas fa-crown"></i></p>
            <p class="text-left font-weight-bold text-white mousePointer opa">Efe Akipek <i class="fas fa-chess-queen"></i></p>
        </div>
        <div class="col-md-3 mt-3 text-white">
          <a class="navbar-brand text-white" href="#">Help & Info <i class="fas fa-tools"></i></a>
            <hr class="line mousePointer">
            <p class="text-left font-weight-bold mousePointer opa">About</p>
            <p class="text-left font-weight-bold mousePointer opa">Contact / Feedback</p>
            <p class="text-left font-weight-bold mousePointer opa">Help & FAQ</p>
            <p class="text-left font-weight-bold mousePointer opa">Forum</p>
            <p class="text-left font-weight-bold mousePointer opa">Best Of</p>
            <p class="text-left font-weight-bold mousePointer opa">E-spor</p>
        </div>

      </div>
    </div>
  </div>

                        <!-- Collapse End -->


 <a href="#collapse" data-toggle="collapse"><i class="fas fa-angle-double-down text-white chan4 btnchn"></i></a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="Kiss.js" type="text/Javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


</body>
</html>
