/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Itim&family=Modak&family=Orbitron&display=swap');

$gray-b : #333;
$white : #fff;

@mixin measur($wd,$hg){
	width: $wd;
	height: $hg;
}

#clock {
	font: {
		family: 'Orbitron', sans-serif;
  		size: 2rem;
	}
  
  text-align: center;
  border-radius: 0.75rem;
  box-shadow: 0 0 20px $gray-b;
}

%clock-a {
	box-shadow: 0 0 20px $gray-b;
	margin: {
		left: 40px;
		right: 40px;
	}
	padding: {
		left: 145px;
		top: 5px;
		bottom: 4px;
	}
	border-radius: 0rem 0rem 0.75rem 0.75rem;
}

.clock {
	color: #66ff99;
	@extend %clock-a;
}
  
.rainbow {
	animation: colorRotate 6s linear 0s infinite;
}
  
  @keyframes colorRotate {
	from {
	  color: #6666ff;
	}
	10% {
	  color: #0099ff;
	}
	50% {
	  color: #00ff00;
	}
	75% {
	  color: #ff3399;
	}
	100% {
	  color: #6666ff;
	}
  }
  										/* Rainbow End */

body {
	font-size: 16px;
	background-color: #ededed;
}

.stickybuttons {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: $white;
	transition: all .5s;
	z-index: 100;
	display: none;
	margin: auto;
}

.dot {
	@include measur(4rem,4rem);
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.navbar, .imgo:hover{
	opacity: 0.9;
}

.sign{
	font-family: 'Itim', cursive;
}

.paged{
	background-color: #343a40;
}

.yazi{
	color: #343a40;
}

.yazi2{
	color: $white;
}

.yazi:hover, .yazi2:hover{
	color: #dc3545;
}

.mousePointer{
	cursor: pointer;
}

.purple{
	background-color: #520066;
}

.mt-t1{
	 margin-top: 300px;
}

.mt-t2{
	 margin-top: 600px;
}

.bg-t{
	background-color: #1b1d20;
}

.bg-bt{
	background-color: #343a40;
}

.bg-wt{
	background-color:#f8f9fa;
}

.tx-bt{
	color: #343a40;
}

hr.lineb, hr.line {
	border: 3px solid #343a40;
	border-radius: 5px;

  	&:hover{
		opacity: 0.7;
	}
}

#exit1:hover, #exit2:hover, #exit3:hover {
	opacity: 0.5;
}

.mybb:hover{
	opacity:0.6;
}

.opa:hover{
	opacity:0.7;
}

::-moz-selection { /* Code for Firefox */
	color: white;
	background: purple;
}
  
::selection {
	color: white;
	background: purple;
}

.button-30 {
  align-items: center;
  background-color: #FCFCFD;
  border-width: 0;
  color: #36395A;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 2rem;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow .15s,transform .15s;
  padding : {
	left: 0.5rem;
	right: 0.5rem;
  };
  box : {
	shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	sizing: border-box;
  };
  position: relative;

  &:focus {
	box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }

  &:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
	transform: translateY(-2px);
  }

  &:active {
	box-shadow: #D6D6E7 0 3px 7px inset;
	transform: translateY(2px);
  }

}

#dialog {
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
    overflow: hidden;
    position: relative;
    max-width: 450px;
}

.resetinput {
	margin: 0 5px;
	text-align: center;
	font-size: 2rem;
	border: solid 1px $white;
	box-shadow: 0 0 5px $white inset;
	outline: none;
	transition: all .2s ease-in-out;
	border-radius: 3px;

	&:focus {
		border-color: purple;
		box-shadow: 0 0 5px purple inset;
	}

	&::selection {
		background: transparent;
	}	

} 

.pageH {
	font-family: 'Itim', cursive;
	text-align: center;
}